<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>help_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{618,331}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{618,331}}</string>
                <key>sourceSize</key>
                <string>{624,345}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,633},{551,187}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{551,187}}</string>
                <key>sourceSize</key>
                <string>{553,227}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,231},{551,203}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{551,203}}</string>
                <key>sourceSize</key>
                <string>{553,227}</string>
            </dict>
            <key>tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,436},{551,195}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{551,195}}</string>
                <key>sourceSize</key>
                <string>{553,227}</string>
            </dict>
            <key>tips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{551,227}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,227}}</string>
                <key>sourceSize</key>
                <string>{553,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1181,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8323501fdcd357eb10e8924f5effbfd5$</string>
            <key>textureFileName</key>
            <string>help_3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
