<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>locked_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,328},{45,46}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{45,46}}</string>
			<key>sourceSize</key>
			<string>{65,52}</string>
		</dict>
		<key>locked_close_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,281},{45,46}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{45,46}}</string>
			<key>sourceSize</key>
			<string>{65,52}</string>
		</dict>
		<key>locked_notice_ok_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,471},{140,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{140,49}}</string>
			<key>sourceSize</key>
			<string>{156,65}</string>
		</dict>
		<key>locked_notice_ok_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,662},{140,49}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,8},{140,49}}</string>
			<key>sourceSize</key>
			<string>{156,65}</string>
		</dict>
		<key>locked_notice_sbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,1},{469,215}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{469,215}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>locked_notice_tobuy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,612},{140,49}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,8},{140,49}}</string>
			<key>sourceSize</key>
			<string>{156,65}</string>
		</dict>
		<key>locked_notice_tobuy_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,471},{140,49}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{140,49}}</string>
			<key>sourceSize</key>
			<string>{156,65}</string>
		</dict>
		<key>locked_text_theme2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,855},{240,70}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{240,70}}</string>
			<key>sourceSize</key>
			<string>{262,92}</string>
		</dict>
		<key>locked_text_theme3.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,784},{240,70}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{240,70}}</string>
			<key>sourceSize</key>
			<string>{262,92}</string>
		</dict>
		<key>locked_text_theme4.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,471},{240,70}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,11},{240,70}}</string>
			<key>sourceSize</key>
			<string>{262,92}</string>
		</dict>
		<key>locked_text_theme5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,941},{240,70}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{240,70}}</string>
			<key>sourceSize</key>
			<string>{262,92}</string>
		</dict>
		<key>stagelocked_checkagain_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,697},{221,47}}</string>
			<key>offset</key>
			<string>{79,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{209,50},{221,47}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_checkagain_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,471},{225,47}}</string>
			<key>offset</key>
			<string>{81,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{209,50},{225,47}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_checkagain_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,974},{225,47}}</string>
			<key>offset</key>
			<string>{81,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,50},{225,47}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_checkagain_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,471},{469,215}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{469,215}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_gobuy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,141},{139,49}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{139,49}}</string>
			<key>sourceSize</key>
			<string>{143,65}</string>
		</dict>
		<key>stagelocked_gobuy_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1},{139,49}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{139,49}}</string>
			<key>sourceSize</key>
			<string>{143,65}</string>
		</dict>
		<key>stagelocked_notice_sbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{469,215}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{469,215}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,712},{239,71}}</string>
			<key>offset</key>
			<string>{81,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{202,38},{239,71}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
		<key>stagelocked_text2.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,926},{233,47}}</string>
			<key>offset</key>
			<string>{84,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,50},{233,47}}</string>
			<key>sourceSize</key>
			<string>{481,221}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>thempopuplock-hd.pvr.png</string>
		<key>size</key>
		<string>{506,1022}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e4673e5bf02d7cbe5b74245700b5d2b4$</string>
		<key>textureFileName</key>
		<string>thempopuplock-hd.pvr.png</string>
	</dict>
</dict>
</plist>
